{% extends 'front/base.html.twig' %}

{% block metaTitle %}
    Tag: {{ tag.title }}
{% endblock %}

{% block main %}
        <main>
            <div class="center lHeight200">
                <h1 style="color:{{ tag.color }};">{{ tag.title }}</h1>
                {% for article in tag.articles %}
                    <a href={{ path('article_show',{'id':article.id })}}><h1>{{ article.title }}</h1></a>
                    <p>{{ article.title }}</p>
                {% endfor %}
            </div>
        </main>
{% endblock %}



