 {% extends 'base.html.twig' %}

 {% block metaTitle %}
 Liste des articles
 {% endblock metaTitle %}

 {% block main %}
     <h1 class="fsT">Liste des articles</h1>
     <main class="card">
         {% for article in articles %}
             <article class="lHeight50 category">
                 <a href={{ path('articleShow',{'id':article.id })}}><h1>{{ article.title }}</h1></a>
                 <br>
                 <h2>Contenu : <br> "{{ article.content }}"</h2>
                 <a href={{ path('showCategory',{'id':article.category.id })}}><h3>Catégorie de l'article :
                         {{ article.category.title }}</h3></a>
                 <a href={{ path('tagShow',{'id':article.tag.id })}}>
                     <h3>Tag de l'article : <span style="color:{{ article.tag.color }}">
                         {{ article.tag.title }}</span></h3></a>
                 {# Il faudra  créer une boucle if pour qu'il affiche un texte selon si il est publié ou non #}
                 {% if article.isPublished == true %}
                    <p>Article publié le {{ article.creationDate|date('d/m/Y H:i:s') }}</p>
                 {% else %}
                     <p>Article non publié</p>
                 {% endif %}
             </article>
         {% endfor %}
     </main>
 {% endblock main %}